.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
    background-color:white;
    background-image: url();
    background-attachment: fixed;
    background-repeat:no-repeat;

    float: center;

}
h1{
    font-size: 32pt;
}
label{
    display: block;
    font-weight: bold;
}
#wrapper {
	width:1200px;
	margin:auto;
	background-color:#FFFFFF;	
}
#inicio{

	height:800px;
	width: 1200px;
	background-repeat:no-repeat;
	background-color: white;
	background-attachment: fixed;
	background-position: center center;
}
#header {
	background-color: lightblue;
	background-image:url(../img/header.jpg);
	background-repeat:no-repeat;
	height:200px;
}
#menu {
	background-color: Cadetblue;
	height:25px;
	padding-top:5px;
	text-align:center;
	margin-bottom: 20px;
}
#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	background-color: Cadetblue;
	height:25px;
	padding-top:5px;
	text-align:center;
}
.Button_green {
	display:inline-block;
	cursor:pointer;
	color:green;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}

.formulario input[type='text'], .formulario textarea{
    padding: 12px 14px;
    width: 394px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
